@model GameBlog.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Your account";
}

<h1>Your account</h1>
<div class="row">
    <img src="@Model.AvatarUrl" class="rounded float-left" />
    <div class="ml-4">
        <h1> Email : @Model.Email </h1>
        <h1> Name : @Model.Name </h1>
        <div class="btn-group-lg">
            @*<a class="btn btn-success btn-block" asp-controller="User" asp-action="Image">Change image</a>*@
            <a class="btn btn-success btn-block" asp-controller="User" asp-action="Name">Change name</a>
            <a class="btn btn-info btn-block" asp-controller="User" asp-action="Posts">My posts</a>
        </div>
    </div>
</div>