@model GameBlog.Models.Models.User.NameChange

@{
    ViewData["Title"] = "Change name";
}

<form method="post" asp-controller="User" asp-action="Name">
    <div class="form-group">
        <label asp-for="Name">New name</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name"></span>
        <div asp-validation-summary="ModelOnly" id="myCustomSummary"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>