@using GameBlog.Models.ViewModels
@model GameBlog.Models.Models.Pagination.GenericPaginatedModel<GameBlog.Models.ViewModels.GameViewModel>

@{
    ViewData["Title"] = "Games";
}
<div class="container">
    <h1> Games </h1>

    <div class="list-group">
        @foreach (GameViewModel mod in Model.Models)
        {
            <a class="list-group-item list-group-item-action" href="@("https://store.steampowered.com/app/"+@mod.SteamId.ToString())">
                <div class="d-flex w-100 justify-content-between">
                    <h5>@mod.Name</h5>
                </div>
            </a>
        }
    </div>
    <br />

    @{await Html.RenderPartialAsync("Pagination", Model.Pagination);}
</div>